<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Общая газета</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="header">
    <span id="menu">&#9776;</span>
    <span id ="data"> 13 СЕНТЯБРЯ, ВОСКРЕСЕНЬЕ</span>
    <span id="tittle">ОБЩАЯ ГАЗЕТА</span>
    <img id="img2" src="images/search.png" alt="img2">
</div>
<div class="top_news_title">
    <img src="images/news1.png" alt="news1" style="width: 300px; height: 100px; padding-right: 17px; left: 0">
    <img src="images/news2.png" alt="news1" style="width: 300px; height: 100px;padding-right: 17px">
    <img src="images/news3.png" alt="news1" style="width: 300px; height: 100px;padding-right: 17px">
    <img src="images/news4.png" alt="news1" style="width: 300px; height: 100px;">
</div>
<div class="allText">
    <div class="text1">
        <p id="text1">Это наша корова - и мы ее доим!</p>
    </div>
    <div class="text2">
        <p id="text2">Половина россиян считает неправильным путь развития страны</p>
    </div>
    <div class="text3">
        <p id="text3">Белоруссия больше не "Белая Россия"</p>
    </div>
    <div class="text4">
        <p id="text4">Прибыль "Газпрома" все выше, а дивиденды все выше</p>
    </div>
</div>
<div class="news_feed">
    <p id="news_feed">Лента новостей</p>
    <p id="time1">17:08</p>
    <p id="feed1">В Новороссийске главу местных справороссов задержали за взятку в размере 2,1 млн рублей</p>
    <p id="time2">15:31</p>
    <p id="feed2">В ХМАО депутаты переизбрали губернатором Наталью Комарову, а в НАО избрали Юрия Бездудного</p>
    <p id="time3">11:54</p>
    <p id="feed3">В России число заразившихся коронавирусом выросло на 5 449 человек</p>
    <p id="time4">18:46</p>
    <p id="feed4">На выборах в Нижнем Новгороде член УИК подменила папки со списками избирателей</p>
    <p id="time5">18:33</p>
    <p id="feed5">Русская православная церковь призвала россиян привиться от коронавируса</p>
    <p id="time6">02:16</p>
    <p id="feed6">В Финляндии задержали подозреваемого в покушении на чеченского блогера Мусу Ломаева</p>
    <p id="time7">01:41</p>
    <p id="feed7">Алексея Навального отравили «более жестким» вариантом яда «Новичок»</p>
    <p id="time8">14:36</p>
    <p id="feed8">Председатель Мосгорсуда Ольга Егорова официально подала в отставку</p>
    <p id="time9">13:22</p>
    <p id="feed9">Половина россиян отказалась когда-либо делать прививку от коронавируса</p>
</div>
<div class="mainFeed">
    <img src="images/mainfeed.png" alt="mainfeed" style="width: 935px" height="577px">
    <p id="mainfeed">Алексея Навального отравили «более жестким» вариантом яда «Новичок»</p>
    <p id="mainfeed2">Глава немецкой разведки Бруно Каль в ходе секретного совещания доложил, что российского оппозиционера Алексея Навального пытались отравить «более жестким» видом вещества из группы «Новичок»</p>
</div>
</body>
</html>